.profile__image{
    max-width: 120px;
    width: 100%;
    min-height: 120px;
    background-image: url('../../../images/avatar.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
    border-radius: 50%;
    position: relative;
}

@media screen and (max-width: 850px) {
    .profile__image {
        margin: 0px auto 14px;
    }
}