.page__header{
    margin: 0 0 41px 0;
    padding-bottom: 36.25px;
}

@media screen and (max-width: 640px) {
    .page__header {
        margin: 0 0 31.6px 0;
        padding-bottom: 38.25px;
    }
}



