.header {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    padding-bottom: 40.6px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  
}

  @media screen and (max-width: 500px) {
    .header {
        margin: 0;
        
    }
}