 .place__text{
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    margin-left: 21px;
    margin-top: 25px;
    line-height: 29px;
    max-width: 224px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
 }
