.places__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-gap: 20px 17px;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-auto-rows: 361px;
    justify-content: center;

}

@media screen and (max-width: 768px) {
  .places__list {
    grid-gap: 20px;
    padding: 0 19px;
  }
}

