.place__like-button {
    background-image: url('../../../images/like-button-disabled.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    border: none;
    min-height: 19px;
    min-width: 22px;
    background-color:transparent;
    background-size: 22px 19px;
}

.place__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
}
