.popup__close-button{
    position: absolute;
    top: -40px;
    right: -40px;
    background: none;
    background-image: url(../../../images/close_icon.svg);
    border: none;
    box-shadow: none;
    object-fit: contain;
    width: 32px;
    height: 32px;
    padding: 0;
    outline: none;
    background-size: cover;
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: 16;
        right: 0;
    }
}