.popup__save-button{
    margin-top: 18px;
    border: none;
    box-shadow: none;
    width: 100%;
    background-color: #000000;
    padding: 13.6px 0 14.5px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2;
    outline: none;
}

@media screen and (max-width: 500px) {
    .popup__save-button {
        font-size: 14px;
        width: 238px;
        padding: 14px;
        margin-top: 15px;
    }
}