.place {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    min-width: 282px;
    color: #000000;
}

