.place {
    font-family: 'Inter', Arial, sans-serif;
    display: grid;
    flex-direction: column;
    margin: 0;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    min-width: 282px;
    color: #000000;
}

