.page__container {
    min-width: 282px;
    max-width: 880px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 45px 70px 60px 70px;
}

@media screen and (max-width: 500px) {
    .page__container {
    padding: 28px 19px 36px 19px;
    }
}
