.popup__text{
    font-size: 14px;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    margin-bottom: 30px;
    padding: 0 0 9px 0;
}

.popup__text:focus {
    outline: none;
}

