.popup__text{
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 30px;
}

.popup__text::placeholder {
    color:#000000;
}
.popup__text:focus {
    outline: none;
}

@media screen and (max-width: 370px) {
    .popup__text {
        margin-bottom: 46px;
    }
}
